{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{recipe.name}}
{% endblock %}

{% block content %}
<h2 class="text-center mt-4">{{recipe.name}}</h2>

<div class="row justify-content-center">
	<div class="col-12 col-md-8">
		<div class="markdown">{{recipe.get_rendered_instruction|safe}}</div>
	</div>
	<div class="col-12 col-md-2">
		<p class="mb-0">{% blocktranslate count counter=rating_count %}recipe__rating {{counter}}{{ rating }}{% plural %}recipe__rating {{counter}}{{ rating }}{% endblocktranslate %}</p>
		{% if user_rating %}
		  <p class="mb-0">{% translate "recipe__user_rating" %} {{ user_rating.value }}</p>
		{% endif %}
		{% translate "recipe__rate" as submit_text %}
		{% include "includes/form.html" with form=rating_form submit_text=submit_text %}
	</div>
	<div class="col-12 col-md-3">
		{% translate "recipe__delete_rate" as submit_delete_text %}
		{% include "includes/form.html" with form=delete_rating_form submit_text=submit_delete_text %}
	</div>
</div>
{% endblock %}